<web-app>
	<context-param>
		<param-name>dbUserName</param-name>
		<param-value>hr</param-value>
	</context-param>
	
	<context-param>
		<param-name>dbPassword</param-name>
		<param-value>dikshant</param-value>
	</context-param>
	
	<context-param>
		<param-name>jdbcDriver</param-name>
		<param-value>oracle.jdbc.driver.OracleDriver</param-value>
	</context-param>
	
	<context-param>
		<param-name>urlString</param-name>
		<param-value>jdbc:oracle:thin:@localhost:1521:XE</param-value>
	</context-param>
	

	 
		
	
</web-app>
